body {
    color: #fff;
    background: #12161a;
    margin: 1em auto;
    padding: 1em;
    max-width: 50em;
    font: 16px monospace;
}

footer {
    clear: both;
    margin-top: 3em;
}

a {
    color: #6c6;
    text-decoration: none;
}

a:hover, .active-page {
    color: #c6c;
}

nav {
    font-size: 17px;
}

code, dt {
    color: #6c6;
}