body {
    color: #fff;
    background: #12161a;
    margin: 1em auto;
    padding: 1em;
    max-width: 50em;
    font: 16px monospace;
}

footer {
    clear: both;
    margin-top: 3em;
}

a {
    color: #6c6;
    text-decoration: none;
}

a:hover, .active-page {
    color: #c6c;
}

nav {
    font-size: 17px;
}

code, dt {
    color: #6c6;
}

.header-container {
    margin-bottom: 10px;
    text-align: center;
}

.header-title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-divider {
    margin: 20px 0 10px 0;
    color: #333;
    padding-top: 10px;
    border-top: 1px solid #555;
}

nav {
    font-size: 17px;
}